body.light-mode {
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
}

body.dark-mode{
    background-color: #415a7f;
    color: rgb(240, 240, 240);
}


h1{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.card-custom:hover{
    border: 1.5px solid rgb(100, 100, 100);
    cursor: pointer;
    transition: .1s;
}

.card-custom.dark-mode, .expanded-post.dark-mode, .card.dark-mode{
    color: rgb(240, 240, 240);
    border: 1.5px solid #354357;
    background-color: #1c2d42;
}

.card-custom.light-mode, .expanded-post.light-mode, .card.light-mode{
    color: black;
    border: 1.5px solid rgb(210,210,210);
    background-color: rgb(255, 255, 255);
}

.bi.dark-mode{
    color:rgb(240, 240, 240);
}

.bi.light-mode{
    color: rgb(0, 0, 0);
}

.bi{
    border-radius: 10px;
}

.bi:hover{
    box-shadow: 2px 2px 5px gray;
}

#dropdownMenuButton:hover{
    text-shadow: 2px 2px 5px rgb(87, 86, 86);
}

.dropdown-delete.dark-mode, .expanded-text.dark-mode{
    color: rgb(240, 240, 240);
}

.dropdown-delete.light-mode, .expanded-text.light-mode{
    color: black;
}

.nav-link{
    text-decoration: none;
    color: white;
    margin-right: 20px;
}

.navbar {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100vw;
    padding: 1rem;

}

.navbar-custom.light-mode, .navbar-nav.light-mode, .card-header.light-mode, .navbar-collapse.show.light-mode{
    background-color: #063761;
}

.navbar-custom.dark-mode, .navbar-nav.dark-mode, .card-header.dark-mode, .navbar-collapse.show.dark-mode {
    background-color: #03203a;
}

.card-header{
    color: rgb(255, 255, 255);
}

.form-inline{
    display: flex;
    margin-right: 1rem;
}

.form-inline .form-control{
    width: 700px;
    padding: 0.5rem;
}

.form-inline .form-control:focus {
    border-color: #00b7ff;
    background-color: #e6f7ff;
}

.form-control.light-mode{
    color: black; 
    background-color: rgb(255, 255, 255);
}

.form-control.light-mode::placeholder{
    color: #7488a1;
    opacity: 1;
}


.form-control.dark-mode{
    background-color: #1c2d42;
    color: rgb(255, 255, 255);
}

.form-control.form-control.dark-mode::placeholder{
    color: #cad4e0;
    opacity: 1;
}

.nav-item{
    color: rgb(255, 255, 255);
    text-align: justify;
}

.navbar-brand{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    letter-spacing: 0.2em;
    margin-left: 1rem;
    margin-right:2rem;
    color: rgb(255, 255, 255);
}

.logo{
    color: beige;
    font-size: 1.5rem;
    font-weight: bold;
    font-style: italic;
    padding: 0 2rem;
}

.search{
    --padding: 14px;
    width: max-content;
    display : flex;
    align-items : center;
    padding: var(--padding);
    border-radius: 28px;
    background: #f6f6f6;
    transition: box-shadow 0.25s;
    margin-left: 0;

}
.search:focus-within{
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.75);
}

nav{
    height: 80px;
    background-color: #063761;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0rem calc((100vw - 1300px)/2);
}

nav a {
    text-decoration: none;
    color: wheat;
    padding: 0 1.5rem;
}

.logo {
    color: beige;
    font-size: 1.5rem;
    font-weight: bold;
    font-style: italic;
    padding: 0 2rem;
}

.content {
    width: 100vw;
    height: 50vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.parent-container{
    margin-right: 20px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

.slider-wrapper {
    font-size: 40px;
    color:#effb0a;
    font-weight: bold;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: center;
}

.slider{
    height: 50px;
    padding-left:15px;
    overflow: hidden;
}

.slider-text1 {
    background: lightgreen;
    animation: slide 9s linear infinite;
}

.slider-text2 {
    background: skyblue;
}

.slider-text3 {
    background: lightcoral;
}

.slider div {
    color:#fff;
    height: 50px;
    margin-bottom: 50px;
    padding: 2px 15px;
    text-align: center;
    box-sizing: border-box;
}

@keyframes slide {
    0% {margin-top:-300px;}
    5% {margin-top:-200px;}  /* 5% delay */
    33% {margin-top:-200px;}
    38% {margin-top:-100px;} /* 5% delay */
    66% {margin-top:-100px;}
    71% {margin-top:0px;} /* 5% delay */
    100% {margin-top:0px;}
}

.search-container {
    display: flex; /* Center the search bar */
    justify-content: center; /* Align to the center */
    width: 100vw; /* Full width to keep it centered */
    margin: 0 auto
}

.search {
    --padding: 14px;
    width: max-content;
    display: flex;
    align-items: center;
    padding: var(--padding);
    border-radius: 28px;
    background: #f6f6f6;
    transition: box-shadow 0.25s;
    margin: 0px auto; 
}

.image-container{
    margin-right: 20px;
    display: flex;
    background-color: transparent;
}

.search:focus-within {
    box-shadow: 0 0 2px rgba(5, 211, 15, 0.75);
}

.search-input{
    font-size: 16px;
    font-family: 'Lexend',sans-serif;
    color: #333;
    margin-left: var(--padding);
    outline: none;
    border: none;
    background: transparent;
    width: 300px;
}

.upload{
    flex-direction: column;
}

.upload-container{
    flex-direction: column;
    align-items: center;
    justify-content: center;
    display: flex;
    margin-top: 20rem;
}

.submit-button{
    color: black;
}
.input-invalid{
    animation: shake .4s;
}
@keyframes shake{
    20%{transform: translate(3px);}
    60%{transform: translate(-5px);}
    75%{transform: translate(3px);}
}

.btn-toggle-theme {
    padding: 0.5rem;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    font-size: 1.5rem;
    display: flex;
    align-items: end;
    justify-content: end;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.body-content.dark-mode,  .expand.dark-mode{
    background-color: #00182e;
    scrollbar-color: rgb(255, 255, 255) #00182e;
    border: 1px solid rgb(31, 49, 70);
    
}

.body-content.light-mode,  .expand.light-mode{
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(210,210,210);
}

.body-content{
    height: calc(100vh - 80px);
    width: 100vw;
    overflow-y: auto;
}

.upload-profile{
    flex-direction: column;
    display: flex;
    align-items: center;
    width: 100%;

}

.profile-pic{
    width: 150px;
    height: 150px;
    object-fit: cover;
    margin-bottom: 15px;
}

.horizontal-scrollable{
    overflow-x: auto; 
    overflow-y: hidden;
    display: inline-flex;
    gap: 10px;
    width: 100vw;
    padding-bottom: 1rem;
}

.horizontal-scrollable.dark-mode{
    scrollbar-color: rgb(255, 255, 255) #00182e;
}

.bookmarked-posts, .user-posts{
    flex: 0 0 auto;
}

.card{
    overflow: auto;
}

.profile.dark-mode, .profile-pic.dark-mode{
    border: 2px solid #354357;
}

.profile.light-mode, .profile-pic.light-mode{
    border: 2px solid #ddd;
}
