
body {
    color: rgb(0, 0, 0);
    background-color: #efeded; 

  }
  h1 {
    color: rgb(0, 187, 255);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
  }
  p {
    color: rgb(0, 217, 255);
  }
  nav{
    height: 80px;
    background: rgb(36, 150, 226);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0rem calc((100vw - 1300px)/2);
  }
  nav a{
    text-decoration: none;
    color: wheat;
    padding: 0 1.5rem;
  }
  .logo{
    color: beige;
    font-size: 1.5rem;
    font-weight: bold;
    font-style: italic;
    padding: 0 2rem;
  }
  .hero-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 95vh;
    padding: 3rem calc((100vw - 1300px)/2);
  }
  .column-left{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    color: #f6f6f6;
    padding: 0rem 2rem;
  }
  .column-left p {
    margin-bottom: 2rem;
    font-size: 1.5rem;
    line-height: 1.5;
  }
.search{
    --padding: 14px;
    width: max-content;
    display : flex;
    align-items : center;
    padding: var(--padding);
    border-radius: 28px;
    background: #f6f6f6;
    transition: box-shadow 0.25s;
    margin: 0 auto; 
    margin: 50px auto;
}
.search:focus-within{
    box-shadow: 0 0 2px rgba(5, 211, 15, 0.75);
}
.search-input{
    font-size: 16px;
    font-family: 'Lexend',sans-serif;
    color: #333;
    margin-left: var(--padding);
    outline: none;
    border: none;
    background: transparent;
    width: 300px;
}
